doctype html
html(lang="en")
    head
        style 
            include bootstrap.css
            
    body 
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            div(class="container-fluid")
                ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                    li(class="nav-item")
                        a(class="nav-link" href="http://localhost:4000/") Home
                    li(class="nav-item")
                        a(class="nav-link" href="http://localhost:4000/our-services") Our Services
                    li(class="nav-item")
                        a(class="nav-link" href="http://localhost:4000/contact-us") Contact us
                    